.mainHeader {
    max-width: 1080px;
    margin: 85px auto 0 auto;
    background-color: white;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid #EAEAEA;
    padding: 0 45px;
    background-color:#1C2C3A;
}

.leftHeader {
    display: flex;
}

.leftHeader .leftHeaderText {
    display: flex;
    flex-direction: column;
}
